.presentationHeaderFirst__logoGrid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.presentationHeaderFirst__logoGrid--logoContent {
   display: grid;
   grid-template-columns: auto auto ;
   justify-items: start; 
   align-items: center;
}
.presentationHeaderFirst__logoGrid--name{
    font-size: 1.3rem;
    font-weight: 600;
}
.presentationHeaderFirst__logoGrid--date{
    display: flex;
    align-items: center;
}
.presentationDetails__coverImage{
    width: 100%;
    // min-height: 20rem;
    // max-height: 30rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin: 1rem 0;
}
.presentationDetails__headerSecond{
    background: #FFF;
    border-radius: 1rem;
    padding: 1.5rem;
}
.ourTeamMember__image{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    justify-self: center;
    align-self: center;
}